body {
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 400;
    font-size: 1.2em;
}

header, footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

@media (max-width: 600px) {
    header, footer {
        flex-direction: column;
        align-items: center;
    }
}

nav li {
    display: inline-block;
    padding: 8px 14px;
}

footer {
    background-color: rgb(238, 238, 238);
}

.top-right-nav ul {
    display: flex;
    align-items: center;
}

.top-right-nav ul img {
    width: 30px;
    height: auto;
}

.signin {
    padding: 8px 20px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    background-color: #4387fd;
    border: 1px solid #4285f4;
}

main {
    margin-top: -200px;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section img {
    display: block;
    width: 400px;
    height: auto;
}

main section input {
    width: 50vw;
    border: 1px solid #ccc;
    padding: 20px 50px;
    margin: 30px 0;
    border-radius: 50px;
    font-size: 1.2em;
    color: #333;
    outline: none;
}

@media (max-width: 600px) {
    main section input {
        width: 80vw;
    }
}


main button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: rgb(238, 238, 238);
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #333;
}

.input-icons {
    /* background: red; */
    position: relative;
}

.input-icons i {
    position: absolute;
    top: 42%;
    left: 20px;
    color: #c7c7c7;
}

.input-icons img {
    width: 15px;
    height: auto;
    position: absolute;
    top: 40%;
    right: 20px;
}


/* .input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
} */