body {
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 400;
    font-size: 1.2em;
}

header, footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav li {
    display: inline-block;
    padding: 8px 14px;
}

footer {
    background-color: rgb(238, 238, 238);
}

.top-right-nav ul {
    display: flex;
    align-items: center;
}

.top-right-nav ul img {
    width: 30px;
    height: auto;
}

.signin {
    padding: 8px 20px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    background-color: #4387fd;
    border: 1px solid #4285f4;
}